* {
    margin: 0px;
    padding: 0px;
}

/* Layout 1 css */
#layout1 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
}


header, body, nav, footer, main, section {
    display: block;
}
#wrapper {
    width: 1000px;
    margin: 0 auto;
}
#wrapper header {
    width: 100%;
    height: 331px;
    background-color: #517A8D;
}
#wrapper header img{
    margin:28px;
}


.navStyle{
    width: 100%;
    height: 57px;
    background-color: #517A8D;
    display: flex;
}

.navStyle  div {
    width: 272px;
    height: 57px;
    background-color: #517A8D;
}

.navStyle  ul{
    display: flex;
    list-style-type: none;
}

.navStyle  li {
    width: 242px;
    height: 57px;
    background-color: #FFCDD2;
}

.navStyle  a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    width: 242px;
    height: 57px;
}

.navStyle  li:hover{
    background-color: #B94A48;
}

#selected{
    background-color: #B94A48;
    width: 242px;
    height: 57px;
    
}

#selected a{
    color: #FFFFFF;
}

#wrapper main section{
    height: 491px;
    display: flex;  
}
#otterBox1 {
    width: 272px;
    height: 57px;
}

#otterBox2 {
    display: flex;
    width: 697px;
    height: 420px;
    margin-top: 31px;
}
#box1 {
    margin-left: 28px;
    margin-top: 24px;
    height: 33px;
    width: 93px;
    background-color: #517A8D;
}

#box2 {
    height: 389px;
    width: 335px;
    background-color: #517A8D;
}

#box3 {
    margin-left: 25px;
    height: 338px;
    width: 338px;
    background-color: #517A8D;
}

#wrapper footer {
    background-color: #D6D6D6;
    height: 121px;
    width: 100%;
}

/* Layout 2 css */

#layout2 {
    margin: 0px auto;
    width: 1400px;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

#layout2 header {
    height: 192px;
    width: 100%;
}

#layout2 header img {
    margin-top: 28px;
    margin-left: 24px;
}

#layout2 main {
    display: flex;
}

.navStyle2 {
    padding-left: 6px;
    width: 237px;
    height: 1687px;
    background-color: #FFCDD2;
}

.navStyle2 ul {
    list-style-type: none;
}

.navStyle2 ul li {
    display: flex;
    align-items: center;
    width: 243px;
    height: 135px;
}

.navStyle2 ul a {
    text-decoration: none;
    color:#000000;
    height: 132px;
    line-height: 132px;
    width: 100%;
}

.navStyle2 ul li:hover {
    background-color: #B94A48;
    width: 100%;
    margin-left:-6px;
    padding-left:6px;
}

#selected2{
    background-color: #B94A48;
    margin-left: -6px;
    padding-left: 6px;
    width:100%;
}

.wrapperLayout2 {
    width: 818px;
    height: 1687px;
    display: flex;
}

.wrapperLayout2 div {
    width:338px;
    height:338px;
    background-color: #517A8D;
}

#container {
    margin:0px 30px;
}
#box1Layout2 {
    margin-bottom: 120px;
}

#box2Layout2 {
    margin-bottom: 48px;
}

#container2 {
    height: 676px;
    width: 338px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


#left {
    height: 1687px;
    width: 339px;
    background-color: #FFCDD2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#layout2 footer {
    width: 100%;
    height: 121px;
    background-color: #D6D6D6;
}

#box4Layout2 {
    height: 125px;
    width: 128px;
    margin-right: 105px; 
    margin-bottom: 35px;
    background-color: #C0D0E5;
}

#box5Layout2 {
    height: 338px;
    width: 128px;
    margin-right: 41px; 
    margin-top: 66px;
    background-color: #C0D0E5;
}

#leftUP {
    display: flex;
    align-items: flex-end;
}

#leftDown {
    display: flex;
    height: 1285px;
    justify-items: flex-end;
    align-items: flex-end;
}